/* Navbar Styles */
$navbarBackground: $flameu-blue-1;
$navbarBackgroundHighlight: $flameu-orange-1;

body {
  background-color: #fdd;
}

body > .container {
  background-color: white;
  padding: 0 10px;
}
